/* Common */
a {
  color: #343a40;
}
a:hover {
  color: #173798;
  text-decoration: none;
}

/* Banner */
.banner {
  color: rgb(0, 0, 0);
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.desc {
  text-shadow: #343a40;
  color: rgb(0, 0, 0);
}
.jumbotron {
  background-image: url("./images/banner-bg.jpg");
  background-size: cover;
  overflow: hidden;
}

/* Greetings */
.greeting {
  margin-top: 20px;
  margin-left: 20px;
}

/* Projects */
.cardImage {
  margin: 1px;
  border-radius: 55;
  height: 6rem;
}
.card-deck .card {
  padding: 2em;
}

.card-deck {
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
}
.icon:first-child {
  float: left;
}
.icon:last-child {
  float: right;
}

/* Profile */
.page {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
}

/* Footer */
footer {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: #444444;
  text-align: center;
}
footer a {
  color: black;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

/* For mobile screen */
@media only screen and (max-width: 600px) {
  /* Banner */
  .desc {
    display: none;
  }
  .banner {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 10;
    line-height: 1;
  }
  /* Greetings */
  /* Projects */
  .page {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  /* Profile */
} 