.profile-pic {
  height: 4vmin;
  margin-right: 10px;
  border-radius: 50px;
}

a {
  color: #343a40;
}

a:hover {
  color: #173798;
  text-decoration: none;
}

div.media {
  margin-top: 30px;
  margin-bottom: 10px;
}

div.media .media-heading .jobTotalDuration {
  color: #666;
  font-size: 14px;
  display: block;
}

div.media img {
  height: 10vmin;
  margin-right: 10px;
  border-radius: 50px;
}

div.media .jobDuration {
  color: #444;
  display: block;
}

div.media .jobLocation {
  color: #666;
}

.formLabel {
  font-weight: bold;
}

.certificateLink {
  color: cornflowerblue;
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: #444444;
  text-align: center;
}

.greeting {
  margin-top: 20px;
  margin-left: 20px;
}

footer a {
  color: black;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.topBar {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 10px;
}

.page {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

.jumbotron {
  background-image: url("./images/banner-bg.jpg");
  background-size: cover;
}

.cardImage {
  border-radius: 55;
  height: 6rem;
}
.card-deck .card {
  margin-left: 15px;
  padding: 2em;
  margin-right: 15px;
}
.card-deck .card:not(:last-child) {
  margin-right: 15px;
}
.card-deck .card:not(:first-child) {
  margin-left: 15px;
}
.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;
}