.profile-pic {
  height: 4vmin;
  margin-right: 10px;
  border-radius: 50px;
}

a {
  color: #343a40;
}

.banner {
  color: rgb(0, 0, 0);
}

.desc {
  text-shadow: #343a40;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
  .desc {
    text-shadow: #343a40;
    font-weight: bolder;
    color: rgb(75, 175, 36);
  }
  .mask{
    background-color: steelblue;
  }
} 

a:hover {
  color: #173798;
  text-decoration: none;
}

.formLabel {
  font-weight: bold;
}

.certificateLink {
  color: cornflowerblue;
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: #444444;
  text-align: center;
}

.greeting {
  margin-top: 20px;
  margin-left: 20px;
}

footer a {
  color: black;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.topBar {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 10px;
}

.page {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

.jumbotron {
  background-image: url("./images/banner-bg.jpg");
  background-size: cover;
  overflow: hidden;
}

.cardImage {
  border-radius: 55;
  height: 6rem;
}
.card-deck .card {
  margin-left: 15px;
  padding: 2em;
  margin-right: 15px;
}
.card-deck .card:not(:last-child) {
  margin-right: 15px;
}
.card-deck .card:not(:first-child) {
  margin-left: 15px;
}
.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;
}